@import "tailwindcss";
@import "../styles/theme.css";

body {
  background-color: var(--color-bg-app);
  color: var(--color-text-default);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
